* {
    box-sizing: border-box;
}

.weather-card {
    height: 90px;
    width: 320px;
    background-color: #F6F7F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border-bottom: 3px solid #D9A87D;
}

.card-title {
    color: #082728;
    font-weight: 400;
    margin: 0;
}

.humidity {
    color: rgba(8, 39, 40, .8);
    font-weight: 400;
    margin: 0;
}

.temp {
    color: #082728;
    font-size: 1.6em;
    font-weight: 400;
    margin: 0;
}

.weather-image {
    height: 75px;
    margin: 0 5px 0 0;
}

.text-group {
    height: 70px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.data-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}